################################################################################
# Ignore IDE files
################################################################################
.buildpath
.cache
.project
.metadata
.settings
.idea
*.sublime-project
*.sublime-workspace
*.DS_Store
*~

################################################################################
# Ignore Vagrant boxes
################################################################################
.vagrant/
